.error-container {
  margin-top: 0.8rem;
  width: 70%;
  border-radius: 2rem;
  background: #F08080;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem;

  > span {
    font-size: 2rem;
    color: #fff;
  }


  > button {
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 0;

    > svg:hover {
      color:#fff;
    }
  }
}

@media (max-width: 600px) {
  .error-container {
    width: 90%;
    padding: 2rem;
    font-size: 1.2rem;
  }
}