.header-container {
  width: 100%;
  height: 20rem;
  background: var(--background-dark);

  border-bottom: 5px solid var(--yellow);
}

.header-content {
  max-width: 970px;
  margin: 0 auto;
  padding: 4rem 0;

  display: flex;
  align-items: center;
  flex: 1;

  > img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  > div {
    display: flex;
    flex-direction:column;
    margin-left: 1.6rem;

    > strong {
      font-size: 5rem;
      line-height: 8rem;
      color:  var(--background);

    }

    > span {
      font-size: 1.6rem;
      font-weight: 400;
      color: var(--background);
    }
  }

  > a {
    margin-left: 10rem;
  }
}

@media (max-width: 768px) {
  .header-container {
    height: 15rem;
  }
  .header-content {
    width: 100%;
    padding: 3rem 1rem;
    

    > img {
      width: 8rem;
      height: 8rem;
    }

    > div {
      flex: 1;
      flex-direction: column;
      strong {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      > span {
        font-size: 1.2rem;
      }
    }
    > a {
      margin-left: 0;
    }
  }
}